@import "seattletimes";
@import "mountain";

.whiteout {
  background: white;

  .constrained {
    max-width: 800px;
    margin: auto;
    padding: 32px 16px;

    & > p {
      max-width: 600px;
    }
  }
}