@import "seattletimes";

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {

}

.whiteout {
  background: white;

  .constrained {
    max-width: 800px;
    margin: auto;
    padding: 32px 16px;

    & > p {
      max-width: 600px;
    }
  }
}

.mountain {
  padding-top: 50vh;
}

.stage {
  min-height: 100vh;
  max-width: 800px;
  padding: 16px 16px 200px;
  margin: auto;

  .contents {
    max-width: 300px;
    background: white;
    padding: 32px;
  }
}