<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <img src="./assets/wolfman_01_lede.jpg">
      <div class="caption">Robert Wielgus, director of the Large Carnivore Conservation Lab at Washington State University, lets out a howl last spring, hoping for an answer from deep in the territory of the Profanity Peak pack.(Steve Ringman / The Seattle Times)</div>
    </header>

    <main class="content">
      <section class="whiteout">
        <div class="constrained">
          <h1 class="headline">A WAR OVER WOLVES</h1>
          <h2 class="deck">Robert Wielgus finds himself crosswise with ranchers, lawmakers and Washington State University administrators and lobbyists. He’s lost grant funding for summer research, has been forbidden from talking to media in his professional role and has been reviewed — and cleared — for scientific misconduct.</h2>
          <div class="byline">By Lynda V. Mapes
            <div class="staff">Seattle Times environment reporter</div>
          </div>
        <%= markdown.story %>
        </div>
      </section>
    </main>

    <footer class="comments constrained">
      <%= t.include("partials/_comments.html", { article: "designer-app-1502320605454" }) %>
    </footer>

    <%= t.include("_credits.html") %>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.depredationData = <%= JSON.stringify(csv.depredation) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
